<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/adminNav.css}">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <title></title>
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet" />
    <link
            th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
            rel="stylesheet"
    />
    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet" />
    <link
            th:href="@{/vendor/glightbox/css/glightbox.min.css}"
            rel="stylesheet"
    />
    <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet" />
    <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link th:href="@{/css/style2.css}" rel="stylesheet" />
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body>
<div th:include="~{frags/adminNav :: navigation}"></div>
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Department Minister</h2>
        </div>
        <div style="height: 100vh;">
            <div style="width: 100%;">
                <h2 class="section-title text-center" style="font-size: 20px">Add Department Minister</h2>
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                <form class="mt-5 card p-5 shadow" style="width: 45%;" method="post" th:action="@{'/admin/minister/add-minister'}">
                    <h5 class="fw-semibold">District</h5>
                    <select name="district" class="p-3" required>
                        <option th:each="item : ${districts}"
                                th:text="${item}"
                                th:value="${item}">
                        </option>
                    </select>
                    <h5 class="fw-semibold mt-3">Department</h5>
                    <select name="department" class="p-3" required>
                        <option th:each="item : ${departments}"
                                th:text="${item}"
                                th:value="${item}">
                        </option>
                    </select>
                    <h5 class="fw-semibold mt-3">Minister Name</h5>
                    <input name="username" class="rounded-2 p-2" minlength="3" required type="text"/>
                    <h5 class="fw-semibold mt-3">Minister Temp password</h5>
                    <input name="password" class="rounded-2 p-2" required minlength="8" type="password"/>
                    <h5 class="fw-semibold mt-3">Aadhaar Number</h5>
                    <input name="aadhaarId" class="rounded-2 p-2" minlength="12" maxlength="12" required type="text" pattern="\d*" oninput="validateInput(this)">
                    <h5 class="fw-semibold mt-3" >Phone Number</h5>
                    <input name="phoneNumber" class="rounded-2 p-2" minlength="10" maxlength="10" required type="text" pattern="\d*" oninput="validateInput(this)">
                    <button type="submit" class="btn-primary bg-primary mt-4 border-0 rounded-2 text-white">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function validateInput(input) {
        const pattern = /^\d*$/;
        if (!pattern.test(input.value)) {
            input.value = input.value.replace(/\D/g, '');
        }
    }
</script>
<script crossorigin="anonymous" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>