<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/html"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>K-Govern</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon" />
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet" />
    <link
            th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
            rel="stylesheet"
    />
    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet" />
    <link
            th:href="@{/vendor/glightbox/css/glightbox.min.css}"
            rel="stylesheet"
    />
    <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet" />
    <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link th:href="@{/css/style2.css}" rel="stylesheet" />
    <style>
        .check{
            font-size: 20px;
            transition: color 0.4s;
        }
        .check:hover{
            color: forestgreen;
        }
    </style>
</head>
<body>
    <div th:include="~{frags/employeeNavbar :: navigation}"></div>
    <div class="container">
        <div class="section-title pt-2 mt-5">
            <h2><span th:text="${department}"></span> Department Complaints</h2>
        </div>
        <div class="fw-semibold border rounded" style="font-size: 22px">District : <span th:text="${district}"></span></div>
    </div>
    <div class="table-responsive-md box mt-5 d-flex justify-content-center">
        <table class="table mt-5 text-center" style="width: 80%">
            <thead>
            <tr>
                <th class="bg-body-secondary" scope="col">Complaint By</th>
                <th class="col-lg-3 bg-body-secondary" scope="col">Complaint Subject</th>
                <th class="bg-body-secondary" scope="col">Complaint</th>
                <th class="col-lg-3 bg-body-secondary" scope="col">District</th>
                <th class="col-lg-1 bg-body-secondary" scope="col">Action</th>
            </tr>
            </thead>
            <tbody th:each="complaint : ${complaints}">
            <tr class="pointer">
                <td class="">
                    <div class="fw-semibold" th:text="${complaint.getUser().getUsername()}"></div>
                </td>
                <td class="">
                    <div class="fw-semibold" th:text="${complaint.getComplaintSubject()}"></div>
                </td>
                <td class="">
                    <div class="fw-semibold" th:text="${complaint.getComplaint()}"></div>
                </td>
                <td class="">
                    <div class="fw-semibold" th:text="${complaint.getDistrict()}"></div>
                </td>
                <td>
                    <form class="d-inline">
                        <span class=""><button class="check btn" data-target="#deleteModal" data-toggle="modal" id="categoryDelete" type="submit">
                    <i class="bx bx-check-circle"></i>
                  </button></span>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>